apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: user-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: user
    spec:
      containers:
      - image: takuyaatsugi9924/go-pf_user:v1
        name: user
        env:
        - name: DB_HOST
          valueFrom:
            configMapKeyRef:
              name: mysql-configmap
              key: MYSQL_SERVICE_NAME
        - name: DB_NAME
          valueFrom:
            configMapKeyRef:
              name: mysql-configmap
              key: MYSQL_DATABASE
        - name: DB_USER
          valueFrom:
            configMapKeyRef:
              name: mysql-configmap
              key: MYSQL_USER
        - name: DB_PASS
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: MYSQL_PASSWORD
        - name: DB_PORT
          valueFrom:
            configMapKeyRef:
              name: mysql-configmap
              key: MYSQL_PORT
        - name: USER_SERVICE_PORT
          valueFrom:
            configMapKeyRef:
              name: user-configmap
              key: USER_SERVICE_PORT
        ports:
          - containerPort: 50051
        resources: {}
status: {}
