version: '3.4'
services:
  graphql:
    build:
      context: ./services/graphql
      dockerfile: build/Dockerfile.dev
    volumes:
      - ./services/graphql:/app
    ports:
      - "80:80"
    environment:
      - graphql_port=80
      - user_service_port=user:50051
    tty: true
  user:
    build:
      context: ./services/user
      dockerfile: build/Dockerfile.dev
    volumes:
      - ./services/user:/app
    ports:
      - "50051:50051"
    tty: true
  db:
    image: mysql:5.7
    ports:
    - 3306:3306
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    volumes:
    - ./infrastructure/mysql/data:/var/lib/mysql
    # - ./infrastructure/mysql/conf/my.cnf:/etc/mysql/conf.d/my.cnf
    - ./infrastructure/mysql/init:/docker-entrypoint-initdb.d
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: mysql-db

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=db
      - PMA_USER=root
      - PMA_PASSWORD=password
    ports:
      - 1234:80
    volumes:
      - /sessions