name: Go
on:
  push:
    branches:
    - master
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: services/graphql
    steps:
    - uses: actions/checkout@v2
    - uses: docker/login-action@v1
      with:
        username: takuyaatsugi9924
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
    - name: Build
      run: |
        docker build -t takuyaatsugi9924/go-pf_graphql:$GITHUB_SHA -f build/Dockerfile .
    - name: Publish
      run : |
        docker pushdocker push takuyaatsugi9924/go-pf_graphql:$GITHUB_SHA